Result_data/
ball_data_collection/
Tools_script/
__pycache__/
Emobdiment_analysis/
single_image_visualization_results/
dynamic_vis/
Final_result/
pca_analysis
PCA
lstm_numerosity/
alexnet_experiment_results/
Paper_result_matrics/
Final_dynamic/
Neuron_CNN/
Runing_Script/
test_dynamic/
alexnet_experiment_visualonly_results/
alexnet_experiment_embody_results/